<footer class="footer bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h5 class="mb-3">Omega Psi Phi Fraternity Visualizer</h5>
        <p>&copy; 2023 Omega Psi Phi Fraternity</p>
      </div>
      <div class="col-md-5">
        <h5>Learn about Omega Psi Phi Fraternity!</h5>
        <p>Chapters, Locations, History, and more!</p>
      </div>
      <div class="col-md-2">
        <h5 class="mb-3">Follow Us</h5>
        <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://www.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://www.youtube.com/" target="_blank"><i class="bi bi-youtube"></i></a> 
      </div>
    </div>
  </div>
</footer>